<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('products')">
                <img style="width: 62px; height: 80px ; margin-top: 5px;" src="../assets/items.jpeg" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('herbs')">
                <img style="width: 62px; height: 80px ; margin-top: 5px;"  src= "../assets/herbs.jpeg" alt="">
                <h6>Herbs</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('clothing')">
                <img style="width: 62px; height: 80px ; margin-top: 5px;"  src="../assets/cloth.jpeg" alt="">
                <h6>Clothing</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('accessories')">
                <img style="width: 62px; height: 80px ; margin-top: 5px;" src="../assets/beads.jpeg" alt="">
                <h6>Accessories</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
          <div class="card col-md-3">
              <img src="{{item.image}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
              <p><strong>Price:</strong> R{{item.price}}</p>
              <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
          </div>
      </ng-container>

  </div>
</div>
